.add{
    margin-top: 76px !important;
}

.search{
    margin-bottom: 20px;
}

.deleteProject{
    position: absolute;
    right: 0;
}

.position{
    position: relative;
}

.content{
    min-height: calc(100vh - 100px);
}

.noProject{
    margin: 34px 0 0 2px;
}