$themeBlue: #0071bc;

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.link {
	outline: none;
	color: #333 !important;
	text-decoration: none;

	&:hover {
		color: #0071bc !important;
		text-decoration: underline;
	}

	&:active,
	&:visited {
		color: #0071bc;
	}
}

.cursor {
	&:hover,
	& i:hover {
		cursor: pointer;
	}
}

.idCopy {
<<<<<<< HEAD
	.ms-Button--icon {
		width: 18px;
		height: 18px;
		margin-left: 4px;
	}

	i {
		color: #33333c;
	}
=======
    .ms-Button--icon {
        width: 18px;
        height: 18px;
        margin-left: 4px;
    }

    i {
        color: #33333c;
    }
>>>>>>> 08986c6b3ba7f6ea24b506c529e523a3ceb8b3d7
}

.ms-DetailsRow {
	height: 32px;
}

.gap {
	&-margin-left {
		margin-left: 10px !important;
	}
	&-margin-bottom {
		margin-bottom: 10px !important;
	}
}

.input-height {
	height: 26px;
}

/* for graph tooltip style */
.graph > div > div {
    padding: 0 !important;
    border: none !important;
}

.elementMarginLeft {
    margin-left: 10px;
}

.operationBtn {
    i {
        color: $themeBlue;
    }
}

/* for table row border */
.ms-List-cell {
    border-bottom: 1px solid #eeecea;
}

.line-height {
    line-height: 30px;
}

.bold {
    font-weight: bold;
}
