.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.link {
	outline: none;
	color: #333 !important;
	text-decoration: none;

	&:hover {
		color: #0071bc !important;
		text-decoration: underline;
	}

	&:active,
	&:visited {
		color: #0071bc;
	}
}

.cursor {
	&:hover,
	& i:hover {
		cursor: pointer;
	}
}

.idCopy {
<<<<<<< HEAD
	.ms-Button--icon {
		width: 18px;
		height: 18px;
		margin-left: 4px;
	}

	i {
		color: #33333c;
	}
=======
    .ms-Button--icon {
        width: 18px;
        height: 18px;
        margin-left: 4px;
    }

    i {
        color: #33333c;
    }
>>>>>>> 38c9a734cb90cdef8678d4fd44bf5140b34b5182
}

.ms-DetailsRow {
	height: 32px;
}

.gap {
	&-margin-left {
		margin-left: 10px !important;
	}
	&-margin-bottom {
		margin-bottom: 10px !important;
	}
}

.input-height {
	height: 26px;
}

/* for graph tooltip style */
.graph > div > div {
    padding: 0 !important;
    border: none !important;
}
